# App Core Settings
APP_SECRET=your-secret-key-here
APP_ENV=development # development or production
APP_ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL Database (Docker)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=dj_starter_kit
DB_USER=dj_user
DB_PASSWORD=dj_password
DB_HOST=db
DB_PORT=5432

# Redis (Docker)
REDIS_HOST=redis
REDIS_PORT=6379

# Admin Account (created via manage.py ensure_admin)
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@loftdesign.com
ADMIN_PASSWORD=admin123
ADMIN_FIRST_NAME=Admin
ADMIN_LAST_NAME=Loft

# EMAIL Settings (Gmail SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
